<div>
    <app-page-header [heading]="'Participante'" [icon]="'fa fa-address-book'"></app-page-header>
     <div class="row">
        <div class="col co  l-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Edicao
                </div>
                <div class="card-body">
                    <a [routerLink]="['/persons']">
                            <i class="fa fa-fw fa-address-book"></i>&nbsp;Voltar
                    </a>
                </div>
                <div class="card-footer">
                    sfaddfasdfasf
                </div>
            </div>
        </div>
    </div>
</div>